<% EasyMailer::Tracker::Configurator.validate_db.each do |error| %>
  <div class="alert-danger">
    <%= error %>
  </div>
<% end if false %>
<% EasyMailer::Tracker::Configurator.validate_global_options.each do |error| %>
  <div class="alert-danger">
    <%= error %>
  </div>
<% end if false %>

<h2>Tracker</h2>

<table class="table">
  <tr>
    <!-- TODO this will only work with ActiveRecord adapter -->
    <% EasyMailer::Tracker::Options.adapter.settings[:attributes].keys.each do |c| %>
        <th><%= c.to_s.humanize %></th>
    <% end %>
  </tr>
  <% if (@mail_records || []).each do |model| %>
      <tr>
        <% EasyMailer::Tracker::Options.adapter.settings[:attributes].values.each do |c| %>
            <td>
              <%= link_to easy_track_mail_path(params.permit(:mailer, :model).to_h.symbolize_keys.merge(mail_id: model.send(EasyMailer::Tracker::Options.message_id_attr)) ) do %>
                  <%= model.send(c) %>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end.empty? %>
      <tr>
        <td colspan="<%= EasyMailer::Tracker::Options.adapter.settings[:attributes].size %>">
          No content
        </td>
      </tr>  <% end %>
</table>
